# Main PNPM lockfile
# This ignored, because architecture-specific lockfiles are tracked in Git, with the
# relevant arch version copied to pnpm-lock.yaml for local builds.
pnpm-lock.yaml

# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
**/dist
build
tsconfig.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Audio files
*.flac
*.wav
*.xm
uploads/ 
