# Redis configuration file

# Basic settings
port 6379
bind 0.0.0.0

# Persistence
appendonly yes
dir /data

# Security settings
protected-mode yes
requirepass ${REDIS_PASSWORD}

# ACL configuration
user default off
user ${REDIS_USERNAME} on ~* +@all >${REDIS_PASSWORD} 